main {
    background-color: #7d7da6;
}

.container {
    border: 5px solid #2c2c34;
    margin: 4%;
    padding: 2%;
    display: flex;
    flex-direction: row;
}

.time {
    width: 30%;
    margin-right: 1%;
    /* border: 4px red solid; */
    background-color: #978897;
}

.questions-box {
    width: 70%;
    margin-left: 1%;
    /* border: 4px black solid; */
    background-color: #494850;
}

/* .choice-container {
    display: flex;
    flex-wrap: wrap;
} */

#next-question {
    background-color: #b18fcf;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1% 2%;
}
